body {
    font-family: 'Georgia','Verdana',serif;
    background-color: #ECF0F1;
}

h1 {
    font-family: 'Georgia','Verdana',serif;
}

h2 {
    font-family: 'Georgia','Verdana',serif;
}

h3 {
    font-family: 'Georgia','Verdana',serif;
}

h4 {
    font-family: 'Georgia','Verdana',serif;
}